@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --map-border-color: 102, 80, 80;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --map-border-color: 102, 80, 80;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.loading-font-container{
  background-color: aliceblue;
  color: black;
  font-weight: bold;
  border-color: black;
  width: 90vw;
  height: 50vh;
  border-width: 1px;
  align-items: center;
  display: flex;
}
#loading-text{
  position: absolute;
  text-align: center;
  display: block;
  width: inherit;
}

.map-container{
  border-width: 5px;
  border-color: rgb(var(--map-border-color));
  border-radius: 5px;
}